In [ ]:
#1.	Write a Python program to swap two variables.
a = 5
b = 10

a, b = b, a
print("a =", a, "b =", b)

In [1]:
#Take a number from the user and print whether it is even or odd.
number= int(input("Enter a number"))
if number%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number24
Number is even

In [21]:
##Create a program that takes a string and prints its reverse.
strings = input("Enter a string: ")
print(strings[::1])

Enter a string: suraj
suraj

In [22]:
##Greeting with name and age

name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Greeting {name}, you are {age} years old!")

Enter your name: Suraj
Enter your age: 18
Greeting Suraj, you are 18 years old!

In [23]:
## Convert Celsius to Fahrenheit using a formula.
c = float(input("Enter Celsius: "))
f = (c * 9/5) + 32
print("Fahrenheit:", f)

Enter Celsius: 45
Fahrenheit: 113.0

In [25]:
#7.	Print all numbers from 1 to 50 that are divisible by 5.

a = int(input("Enter first: "))
b = int(input("Enter second: "))
c = int(input("Enter third: "))

print("Largest:", max(a, b, c))

Enter first: 12
Enter second: 21
Enter third: 45
Largest: 45

In [26]:
#8.	Take an input number and print its multiplication table.

for i in range(1, 51):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [27]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 123
123 x 1 = 123
123 x 2 = 246
123 x 3 = 369
123 x 4 = 492
123 x 5 = 615
123 x 6 = 738
123 x 7 = 861
123 x 8 = 984
123 x 9 = 1107
123 x 10 = 1230

In [2]:
num = int(input("Enter a number: "))

if num < 2:
    print("Not prime")
else:
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            print("Not prime")
            break
    else:
        print("Prime")

Enter a number: 7
Prime

In [6]:
s = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = sum(1 for ch in s if ch in vowels)
print("Vowel count:", count)

Enter a string: suraj
Vowel count: 2

In [30]:
fruits = ["apple", "banana", "mango", "orange", "grape"]
fruits.append("pineapple")
print(fruits)

['apple', 'banana', 'mango', 'orange', 'grape', 'pineapple']

In [31]:
numbers = [12, 3, 45, 7, 22]
print("Max:", max(numbers))
print("Min:", min(numbers))

Max: 45
Min: 3

In [32]:
students = {"A": 85, "B": 90, "C": 78}
avg = sum(students.values()) / len(students)
print("Average mark:", avg)

Average mark: 84.33333333333333

In [33]:
lst = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(lst))
print(unique)

[1, 2, 3, 4, 5]

In [34]:
cities = ("Delhi", "Mumbai", "Chennai", "Kolkata", "Pune")
for city in cities:
    print(city)

Delhi
Mumbai
Chennai
Kolkata
Pune

In [35]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

print(factorial(5))

120

In [36]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

True

In [37]:
def list_sum(lst):
    return sum(lst)

print(list_sum([1, 2, 3, 4]))

10

In [39]:
count = 0
with open("sample.txt", "r") as f:
    for line in f:
        count += line.count("Python")

print("Occurrences of 'Python':", count)

FileNotFoundError: [Errno 2] No such file or directory: 'sample.txt'

In [1]:
sentence = input("Enter a sentence: ")
for word in sentence.split():
    print(word)

Enter a sentence: hi how are you ?
hi
how
are
you
?